---
interface Props {
  progress: number;
  class?: string;
}

const { progress, class: className } = Astro.props;
const sanitizedProgress = Math.max(0, Math.min(100, progress));
const ariaLabel = `${sanitizedProgress}% Selesai`;
---

<div
  role="progressbar"
  aria-valuenow={sanitizedProgress}
  aria-valuemin="0"
  aria-valuemax="100"
  aria-label={ariaLabel}
  class:list={[
    "w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700",
    className,
  ]}
>
  <div
    class="bg-green-600 h-2.5 rounded-full"
    style={{ width: `${sanitizedProgress}%` }}
  >
    <span class="sr-only">{ariaLabel}</span>
  </div>
</div>
